
@import 'movieTextBox.scss';

.movie-information {
  order: 1;
  text-align: left;
  width: 100%;
  @include movie-text-box;

  dl {
    display: inline;

    &::after {
      content: "";
      display: block;
      clear: block;
    }
  }

  dt {
    float: left;
    clear: left;
    min-width: 8rem;
    font-weight: bold;

    &::after {
      content: ":";
    }
  }

  dd {
    margin-left: 8rem;
    margin-bottom: 0.2rem;
  }
}
