
@import 'common.scss';

// FIXME: This is an SUI class name. Oops.
.container {
  margin: 0 auto;
  width: 980px;
}

.featured-movies {
  display: flex;
  justify-content: space-between;
}

.featured-movie {
  text-align: left;
  width: 24%;
}

.featured-movies__header {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 15px;
  margin-top: 60px;
}

.featured-movie__image {
  max-height: $imgPreviewHeight;
  min-height: $imgPreviewHeight;
}

.featured-movie .item {
  margin: 0;
  cursor: default;
  padding-bottom: 3px;
}

.featured-movie .item:first-child {
  padding-top: 1rem;
}

.featured-movie__info .header {
  font-weight: bold;
}

hr {
  margin-bottom: 15px;
  background-color: $hilightColour;
  height: 1px;
  border: 0;
}

.movie-image {
  order: 1;
  padding-right: 20px;
}

.movie-reviews {
  background-color: lighten(lightgrey, 15%);
  box-shadow: 0px 5px 10px 0px lighten(lightgrey, 10%);
  padding: 20px;
}

.movie-reviews h2 {
  font-size: 32px;
  margin: 0;
}

.movie-container {
  display: flex;
}

.movie-reviews {
  text-align: left;
  margin-top: 20px;
}
