
@import 'common.scss';

// FIXME: This is an SUI class name. Oops.
.container {
  margin: 0 auto;
  width: 980px;
}

.featured-movies {
  display: flex;
  justify-content: space-between;
}

.featured-movie {
  text-align: left;
  width: 24%;
}

.featured-movies__header {
  margin-bottom: 15px;
  margin-top: 60px;
}

.featured-movie__image img {
  max-height: 343px;
  min-height: 343px;
}

.featured-movie .item {
  margin: 0;
  cursor: default;
  padding-bottom: 3px;
}

.featured-movie .item:first-child {
  padding-top: 1rem;
}

.featured-movie__info .header {
  font-weight: bold;
}

hr {
  margin-bottom: 15px;
  background-color: $hilightColour;
  height: 1px;
  border: 0;
}

.movie-image {
  order: 1;
  padding-right: 20px;
}

.movie-information {
  order: 1;
  text-align: left;
  width: 100%;
}

.movie-information dl {
  display: inline;
}

.movie-information dl::after {
  content: "";
  display: block;
  clear: both;
}

.movie-information dt {
  float: left;
  clear: left;
  min-width: 8rem;
  font-weight: bold;
}

.movie-information dt::after {
  content: ":";
}

.movie-information dd {
  margin-left: 8rem;
  margin-bottom: 0.2rem;
}

.movie-information, .movie-reviews {
  background: #f7f7f7;
  box-shadow: 0px 5px 10px 0px #e8e6e6;
  padding: 20px;
}

.movie-reviews h2 {
  font-size: 32px;
  margin: 0;
}

.movie-container {
  display: flex;
}

.movie-reviews {
  text-align: left;
  margin-top: 20px;
}

.review-author {
  font-size: 12px;
}
