
//
// First whack at basic theming; font families and font/background colours are
// defined here.

$verdanaStack: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$arialStack: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

$appHeadBackColour: #F44336;
$appHeadTextColour: white;
$bodyColour: #212121;
$hilightColour: #e0e0e0;
